
/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

html, body,
body > div,
.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

/* M E S S A G E S */

.chat {
    background: none;
    padding: 0 0 10px;
    flex: 1;
    height: 0;
    overflow: auto;
}

.chat-message {
    padding: 8px;
    padding: 0.5rem;
    font-size: 14.4px;
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.visitor {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
}

.visitor .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 0 #D4D4D4;
}

.admin .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border-top-left-radius: 0;
    box-shadow: -1px 2px 0 #D4D4D4;
}

.msg {
    word-wrap: break-word;
    background: white;
    min-width: 50%;
    max-width: 80%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.msg p {
    margin: 0 0 3.2px 0;
    margin: 0 0 0.2rem 0;
}

.msg .time {
    font-size: 11.2px;
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* I N P U T */
.input-area {
    background: #e5e5e5;
}

.textarea {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    background: #fafafa;
    border: none;
    outline: none;
    color: #666;
    font-family: inherit;
    font-size: 14px;
    resize: none;
}

.banner {
    display: block;
    padding: 3px 0;
    width: 100%;
    height: 12px;
    border-top: 2px solid #e5e5e5;
    outline: none;
    color: #777;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    text-decoration: none;
}
