/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */

html, body {
    /*background: #f9f9f9;*/
    /* Background pattern from Subtle Patterns */
    /* background: white; */
    background: white url('../media/seigaiha.png') repeat;
    /*background: none transparent;*/
    /*font-family: 'Lato', sans-serif;*/
    @import url('https://fonts.googleapis.com/css?family=Ubuntu');
    font-family: 'Ubuntu', "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;

}

/* M E S S A G E S */
#messageArea {
    overflow: scroll;
}

.chat {
    list-style: none;
    background: none;
    padding: 0;
    margin: 0;
}

.chat li {
    padding: 8px;
    padding: 0.5rem;
    /* font-size: 14.4px; */
    font-size: 1.0rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
}

.visitor {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

.visitor .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    /*border-bottom-right-radius: 0;*/
    /*box-shadow: 1px 2px 0 #D4D4D4;*/
    border-top-right-radius: 0;
}

.admin .msg {
    border-top-left-radius: 0;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-top-left-radius: 0;
    /*box-shadow: -1px 2px 0 #D4D4D4;*/
    /*background: #f3f4f9;*/
    background: rgba(248,248,248,0.7);

}

.msg {
    word-wrap: break-word;
    min-width: 50px;
    max-width: 80%;
    padding: 10px;
    /*border-radius: 2px;*/
    /*box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    /*background: white;*/
    background: rgba(255,255,255,0.7);
    /*border: solid 1px #ccd0da;*/
    border: solid 1px white;
}

.msg p {
    margin: 0 0 3.2px 0;
    margin: 0 0 0.2rem 0;
}

.msg .time {
    font-size: 11.2px;
    font-size: 0.7rem;
    color: #7d7b7b;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*::-webkit-scrollbar {*/
/*min-width: 12px;*/
/*width: 12px;*/
/*max-width: 12px;*/
/*min-height: 12px;*/
/*height: 12px;*/
/*max-height: 12px;*/
/*background: #e5e5e5;*/
/*box-shadow: inset 0 -14px 0 #e5e5e5, inset 0 -46px 0 #fafafa;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*background: #bbb;*/
/*border-radius: 100px;*/
/*border: solid 3px #e5e5e5;*/
/*box-shadow: inset 0 0 3px #999;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*background: #b0b0b0;*/
/*box-shadow: inset 0 0 3px #888;*/
/*}*/

/*::-webkit-scrollbar-thumb:active {*/
/*background: #aaa;*/
/*box-shadow: inset 0 0 3px #7f7f7f;*/
/*}*/

/*::-webkit-scrollbar-button {*/
/*display: block;*/
/*height: 24px;*/
/*}*/

/* I N P U T */

input.textarea {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 95%;
    height: 55px;
    z-index: 99;
    background-color: #fff;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    /* color: #666; */
    /* font-weight: 500; */
    /* font-size: 15px; */
    color: #777;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    background: rgba(250,250,250,0.8);
}

input.textarea:focus {
    background: white;
    box-shadow: 0 -6px 12px 0px rgba(235,235,235,0.95);
    transition: 0.4s;
}

a.banner {
    position: fixed;
    bottom: 0;
    /*left: 0;*/
    right: 10px;
    /*width: 100%;*/
    height: 12px;
    z-index: 99;
    /*border-top: 2px solid #e5e5e5;*/
    /*background: #e5e5e5;*/
    outline: none;
    color: #777;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    text-decoration: none
}
