/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */

html,
body {
  background: transparent;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  height: 100%;
}

#intergramChat {
  overflow: hidden;
  border-radius: 8px;
  height: 100%;
}

.link,
.link:hover,
.link:active,
.link:visited {
  color: black;
}

.chat-container {
  height: 100%;
}

.chat-header {
  position: relative;
  /* color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background-image: url(../media/cover-tile-dark.jpg);
  background-repeat: repeat;
  background-size: 160px; */
  color: #404040;
  background-color: #e8e8e8;
  padding: 30px 20px 15px 20px;
}

.admin-images {
  display: flex;
  height: 40px;
}

.admin-images img {
  height: 100%;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.chat-header h5 {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
}

.chat-header p {
  font-size: 13px;
  line-height: 16px;
  opacity: 0.75;
  max-width: 300px;
  width: 100%;
}

.chat {
  list-style: none;
  background: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: inset 0 21px 4px -20px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  height: calc(100% - 239px);
  background-color: #f0f0f2;
  border-bottom: #f0f0f2;
}

.chat li {
  padding: 0.1rem 0.5rem;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.visitor {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
  flex-direction: row-reverse;
  justify-content: end;
}

.visitor .msg {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.admin .msg {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.msg {
  word-wrap: break-word;
  background: white;
  min-width: 50px;
  max-width: 80%;
  padding: 10px 10px 6px 10px;
  border-radius: 4px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: 14px;
  position: relative;
  min-width: 30%;
}

.msg::before {
  position: absolute;
  content: '';
  left: -10px;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-top-color: white;
  top: 0;
  border-top-right-radius: 7px;
}

.msg::after {
  position: absolute;
  content: '';
  left: -12px;
  width: 12px;
  height: 12px;
  border: 12px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.05);
  top: -1px;
  border-top-right-radius: 7px;
  z-index: -1;
}

.chat li:first-child .msg::after,
.chat li:first-child .msg::before,
.visitor .msg::after,
.visitor .msg::before {
  display: none;
}

.msg p {
  margin: 0 0 3.2px 0;
  margin: 0 0 0.2rem 0;
}

.msg .time {
  font-size: 11px;
  color: #ccc;
  margin-top: 3px;
  float: right;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.visitor .time {
  float: left;
}

::-webkit-scrollbar {
  min-width: 12px;
  width: 12px;
  max-width: 12px;
}

/* I N P U T */

input.textarea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 60px;
  z-index: 99;
  background: white;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: 13px;
  color: #666;
  font-weight: 400;
  border-bottom-left-radius: 8px;
}

a.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 12px;
  z-index: 99;
  border-top: 2px solid #e5e5e5;
  background: #e5e5e5;
  outline: none;
  color: #777;
  font-size: 10px;
  text-align: right;
  font-weight: 200;
  text-decoration: none;
}

.msg-image {
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.visitor .msg-image {
  display: none;
}

.msg-image img {
  max-width: 100%;
}
.consent-container {
  padding: 40px;
  background-color: #f0f0f2;
  height: calc(100% - 259px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.consent-container button {
  border: 2px solid #d9be6b;
  background-color: #ffe07d;
  color: #1b1b1b;
  font-size: 18px;
  line-height: 18px;
  padding: 5px 10px;
  border-radius: 4px;
  height: 40px;
}
