
/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */

html, body {
    background: #e5e5e5;
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    padding: 0 0 50px 0;
    margin: 0 0 10px;
}

.chat li {
    padding: 0.5rem;
    font-size: 0.9rem;
    overflow: hidden;
    display: flex;
}

.visitor {
    justify-content: flex-end;
    align-items: flex-end;
}

.visitor .msg {
    order: 1;
    border-bottom-right-radius: 0;
    box-shadow: 1px 2px 0 #D4D4D4;
}

.admin .msg {
    order: 1;
    border-top-left-radius: 0;
    box-shadow: -1px 2px 0 #D4D4D4;
}

.msg {
    word-wrap: break-word;
    background: white;
    min-width: 50px;
    max-width: 80%;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

.msg p {
    margin: 0 0 0.2rem 0;
}

.msg .time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0 -14px 0 #e5e5e5, inset 0 -46px 0 #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0 0 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0 0 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0 0 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 24px;
}

/* I N P U T */

input.textarea {
    position: fixed;
    bottom: 14px;
    left: 0;
    right: 0;
    width: 95%;
    height: 30px;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #666;
    font-weight: 400;
}


a.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 12px;
    z-index: 99;
    border-top: 2px solid #e5e5e5;
    background: #e5e5e5;
    outline: none;
    color: #777;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    text-decoration: none
}
