{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["standard", "standard-preact"],
  "rules": {
    "quotes": [2, "single"],
    "strict": [2, "never"],
    "no-useless-escape": "warn",
    "no-empty-pattern": "warn"

  }
}
