
/* An adaptation of this https://codepen.io/Varo/pen/gbZzgr */

html, body {
    background: #e5e5e5;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 auto;
}

/* M E S S A G E S */

.chat {
    list-style: none;
    background: none;
    padding: 0 0 5.6rem 0;
    margin: 0;
}

.chat li {
    padding: 0.5rem;
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.visitor {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
                -ms-grid-row-align: flex-end;
            align-items: flex-end;
}

.visitor .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    box-shadow: 1px 2px 0 #D4D4D4;
    background-color: #666666;
    color: #fff;
}

.admin .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    box-shadow: -1px 2px 0 #D4D4D4;
}

.msg {
    word-wrap: break-word;
    background: white;
    min-width: 50px;
    max-width: 80%;
    padding: 0.3rem 0.6rem 0.3rem 0.6rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

span.msg-bold {
    font-weight: 700;
}

.msg p {
    margin: 0 0 0.2rem 0;
    font-weight: 400;
}

.msg .time {
    font-size: 0.7rem;
    color: #ccc;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;
    box-shadow: inset 0 -0.825rem 0 #e5e5e5, inset 0 -5.6rem 0 #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0 0 3px #999;
}

::-webkit-scrollbar-thumb:hover {
    background: #b0b0b0;
    box-shadow: inset 0 0 3px #888;
}

::-webkit-scrollbar-thumb:active {
    background: #aaa;
    box-shadow: inset 0 0 3px #7f7f7f;
}

::-webkit-scrollbar-button {
    display: block;
    height: 2.9rem;
}

/* I N P U T */

textarea.enter-msg {
    position: fixed;
    bottom: 0.8rem;
    left: 0;
    right: 0;
    width: 96%;
    z-index: 99;
    background: #fafafa;
    border: none;
    outline: none;
    padding: 0.3rem 0.5rem;
    color: #666;
    font-weight: 400;
    overflow-y: auto;
    resize: none;
    font-size: 0.9rem;
    line-height: 1.2;
    font-family: inherit;
    color: black;
    font-weight: 400;
}


a.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #e5e5e5;
    outline: none;
    color: #777;
    font-size: 0.5rem;
    padding: 0.1rem 0.5rem;
    text-align: right;
    font-weight: 200;
    text-decoration: none
}
